<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <h1>Blog Project</h1>
    <div>
        <a href="{%url 'new'%}">write blog</a>
    </div>
    <div class="container">
    {% for blog in blogs %}
        <div>
        <h3>{{blog.title}}</h3>
        {{blog.id}}
        {{blog.writer}}
        {{blog.summary}} <a href = "{%url 'detail' blog.id %}">...more</a>
        <br>
        </div>
    {% endfor %}
    </div>
</body>
</html>