.main {
    border: #626262 solid 1px;
    border-radius: 5px;
    padding: 40px 30px 20px 40px;
    margin: 20px;
}

#title {
    padding-bottom: 30px;
}

#title p {
    padding: 0;
    margin: 0;
    font-size: 2.7em;
    font-weight: 700;
    line-height: 1.4em;
}

#content {
    width: 100%;
}

.sub-title {
    display: inline-block;
    width: 44%;
    padding-right: 30px;
    padding-bottom: 10px;
    vertical-align: top;
}

.sub-title p {
    font-size: 1.7em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
}

.contact {
    display: inline-block;
    padding-left: 40px;
    color: black;
    border-left: 5px solid black;
}

.contact img {
    padding-bottom: 5px;
    padding-right: 5px;
    width: 25px;
    vertical-align: middle;
}

.contact a {
    text-decoration: none !important;
    font-weight: 300;
    line-height: 2.5em;
    color: black;
}

.box {
    border: 1px solid black;
    background-color: black;
    width: 5px;
    height: 100px;
}