#info{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#subinfo{
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#imgs{
    margin:20px;
    display:inline-block;
    
}   

.logo{
    vertical-align: middle;
}

.class{
    font: normal normal normal 40px/50px Arial;
    color: #535353;
}