<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #wrap {
        width: 550px;
        margin: auto;
    }
    .sub{
        font-size: 30px;
    }
</style>
<body>
    <div id="wrap">
        <form method="get" action="save_survey">
            <p class="sub">{{survey.question}}</p>
            <p><input type="radio" name="num" value={{survey.ans1}} >{{survey.ans1}}</p>
            <p><input type="radio" name="num" value={{survey.ans2}} >{{survey.ans2}}</p>
            <p><input type="radio" name="num" value={{survey.ans3}} >{{survey.ans3}}</p>
            <p><input type="radio" name="num" value={{survey.ans4}} >{{survey.ans4}}</p>
            <p>
                <input type="hidden" name="survey_idx" value="{{survey.survey_idx}}" >
                <input type="submit" value="투표">
                <input type="button" value="결과확인" onclick="show_result()">
            </p>
        </form>
        <script>
            function show_result(){
                location.href= " show_result/{{survey.survey_idx}} ";
            }
        </script>
    </div>
</body>
</html>