{%extends 'base.html'%}

{%block content%}
    {%if user.is_authenticated%}
        {{user.username}}
    {%endif%}

    <div class="container">
        <h1>Blog Project</h1>
        <div>
            <a href="{%url 'new'%}">write blog</a>
        </div>
        {%for blog in blogs%}
            <div>
                <h3>{{blog.title}}</h3>
                {{blog.writer}}
                {{blog.summary}} <a href="{%url 'detail' blog.id%}">...more</a>
                <br>
            </div>
        {%endfor%}
    </div>

{% endblock %}
