{%extends 'base.html'%}

{%block content%}
    {%if user.is_authenticated%}
        <center>{{user.nickname}} | {{user.university}}</center>
    {%endif%}

    <div class="container">
        <h1>Blog</h1>
        <div>
            <hr>
        </div>
        {%for blog in blogs%}
            <div>
                <h3>{{blog.title}}</h3>
                {{blog.writer}}
                {{blog.summary}} <a href="{%url 'detail' blog.id%}">...more</a>
                <br>
            </div>
        {%endfor%}
    </div>

{% endblock %}
