{%extends 'base.html'%}

{%block content%}
    {%if user.is_authenticated%}
        <center>{{user.nickname}} | {{user.university}}</center>
    {%endif%}

    <div class="container">
        <h1>Blog</h1>
        <div>
            <hr>
        </div>
        {%for blog in blogs%}
            <div>
                <h3>{{blog.title}}</h3>
                {{blog.writer}}
                {{blog.summary}} <a href="{%url 'detail' blog.id%}">...more</a>
                <br>
            </div>
        {%endfor%}
    </div>
    {% if blogs.has_previous %}
    <a href = "?page=1"> 처음 </a>
    <a href = "?page={{blogs.previous_page_number}}"> 이전 </a>
    {% endif %}
    <span>{{blogs.number}}</span>
    <span>of</span>
    <span>{{blogs.paginator.num_pages}}</span>
    {% if blogs.has_next %}
    <a href = "?page={{blogs.next_page_number}}"> 다음 </a>
    <a href = "?page={{blogs.paginator.num_pages}}"> 마지막 </a>
    {% endif %}

{% endblock %}
